@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  height: 90vh;
  background: #fff;
  width: 80%;
  margin: 0 auto;
}

.title-container {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  background-color: #e8eced;
}

.form-container {
  background-color: #2c3e50;
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
  color: white;
}

input[type='number'] {
  background-color: #2c3e50;
  border: 0;
  border-bottom: solid 1px #92aeb2;
  width: 30%;
  padding-bottom: 4px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

select {
  background-color: #2c3e50;
  border: 1;
  border: solid 1px #92aeb2;
  width: 30%;
  padding-bottom: 4px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
  outline: none;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #92aeb2;
  color: #fff;
  font-weight: 100;
}

.provider-key {
  color: grey;
  border-bottom: solid 1px lightgrey;
  padding: 5px 0 5px 0;
  font-weight: 400;
}

.error-message {
  color: white;
}

.provider-info {
  width: 90%;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 35px;
  overflow: scroll;
  height: 450px;
}

.provider-heading {
  color: #92aeb2;
  font-weight: 200;
}
